[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
tortoise-orm = "*"
asyncpg = "*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
cryptography = "*"
aerich = "*"
email-validator = "*"
uvicorn = "*"
aiohttp = "*"
pytemperature = "*"
python-multipart = "*"

[requires]
python_version = "3.9"
